* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #212b32;
    min-width: 360px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

li {
    list-style: none;
}

.container-fluid {
    max-width: 1200px;
}

.page {
    padding: 90px 0 90px 0;
    background-size: cover;
    background: url("/static/theme/img/-e-vaza_01.png") right center no-repeat,
    url("/static/theme/img/-e-vaza_02.jpg") left bottom no-repeat,
    url("/static/theme/img/-e-stol.jpg") 1250px 100px no-repeat,
    url("/static/theme/img/-e-lampa.jpg") 150px 150px no-repeat;
}

/*region block-header*/
header {
    max-width: 560px;
    font-size: 0;
    padding-bottom: 60px;
}

.wrapper-header {
    background-size: cover;
    background: url("/static/theme/img/-e-kartina.jpg") 700px center no-repeat;
}

header h1 {
    max-width: 280px;
    font-size: 33px;
    font-weight: 400;
    display: inline-block;
    margin: 0 0 20px 0;
}

header:before {
    vertical-align: top;
    line-height: 35px;
    background: #ffcd00;
    content: "";
    height: 35px;
    width: 15px;
    margin: 5px 35px 0 0;
    display: inline-block;
}

header p {
    font-size: 18px;
    font-weight: 100;
}

/*endregion*/

/*region block-main*/
.block-content h2 {
    font-size: 22px;
    margin: 0 0 20px 0;
}

.block-content p {
    font-size: 16px;
    color: #999;
    font-weight: 100;
    margin-bottom: 80px;
}

.block-content span {
    margin-right: 30px;
}

.saving-money-and-time,
.dream-come-true,
.exact-estimate {
    max-width: 450px;
    display: inline-block;
}

.icon-exact-estimate {
    vertical-align: top;
    display: inline-block;
    width: 52px;
    height: 64px;
    background: url("/static/theme/img/sprites.png") -10px -94px no-repeat;
}

.icon-dream-come-true {
    vertical-align: top;
    display: inline-block;
    background: url("/static/theme/img/sprites.png") -10px -10px no-repeat;
    width: 64px;
    height: 64px;
}

.icon-saving-money-and-time {
    vertical-align: top;
    display: inline-block;
    background: url("/static/theme/img/sprites.png") -94px -10px no-repeat;
    width: 64px;
    height: 64px;
}

.yellow-btn {
    float: right;
    padding: 20px 40px;
    background: #ffcd00;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #fcb625;
    font-weight: 700;
    position: relative;
    transition: all .2s ease-in-out;
}

.yellow-btn:hover {
    background: #ffd93f;
    border-bottom: 4px solid #ffcd00;
}

.yellow-btn:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 20px;
    width: 15px;
    height: 20px;
    background: url("/static/theme/img/-e-Click.png") 0 0 no-repeat;
}

.btn-design-project {
    padding-top: 450px;
    background: url("/static/theme/img/-e-divan.jpg") 0 200px no-repeat;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.popup {
    background-color: #fff;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    width: 300px;
    height: 323px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
    border-radius: 11px;
}

.popup .close-window {
    width: 30px;
    height: 30px;
    padding: 1px 0 0 1px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    color: #000;
    background: -webkit-gradient(linear, left top, right top, from(#ffcd00), to(#fcb625));
    background: -webkit-linear-gradient(top, #ffcd00, #fcb625);
    background: -moz-linear-gradient(top, #ffcd00, #fcb625);
    background: -o-linear-gradient(top, #ffcd00, #fcb625);
    background: -ms-linear-gradient(top, #ffcd00, #fcb625);
    background: linear-gradient(top, #ffcd00, #fcb625);
    background-color: #fcb625;
    border: 1px solid #fcb625;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}

.popup .close-window:hover {
    background: -webkit-gradient(linear, left top, right top, from(#fcb625), to(#ffcd00));
    background: -webkit-linear-gradient(top, #fcb625, #ffcd00);
    background: -moz-linear-gradient(top, #fcb625, #ffcd00);
    background: -o-linear-gradient(top, #fcb625, #ffcd00);
    background: -ms-linear-gradient(top, #fcb625, #ffcd00);
    background: linear-gradient(top, #fcb625, #ffcd00);
    background-color: #fcb625;
    border: 1px solid #fcb625;
}

.popup .close-window:active {
    background: #fcb625;
}

/*endregion*/